* {
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.top-bar {
    position: relative;
    height: 50px;
    padding: 15px 20px;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #ddd;
}
.container.-expanded > .sidebar {
    margin-left: 0;
}
.container.-expanded > .content {
    width: calc(100% - 250px);
}
.container.-collapsed > .sidebar {
    margin-left: -250px;
}
.container.-collapsed > .content {
    width: 100%;
}
.container > .sidebar,
.container > .content {
    float: left;
    -webkit-transition: all 0.24s cubic-bezier(1, 0.335, 0.89, 0.825);
    transition: all 0.24s cubic-bezier(1, 0.335, 0.89, 0.825);
}
.container > .sidebar {
    width: 250px;
    height: 100vh;
    background: #0094ff;
}
.container > .content {
    width: 100%;
    min-height: 100vh;
}
.container > .content .heading {
    margin: 0;
    line-height: 1;
    font-weight: 300;
}

.btn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    padding: 0 20px;
    color: #505057;
    background: #eee;
    border: 0;
    border-radius: 3px;
}
.btn:hover {
    background: #e1e1e1;
}
.btn.-top {
    margin-top: -6px;
}
.btn.-info {
    color: #fff;
    background: #0094ff;
}
.btn.-info:hover {
    background: #0085e6;
}

.clearfix:after {
    clear: both;
}
.clearfix .p-left {
    float: left;
}
.clearfix .p-right {
    float: right;
}

