@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
* {
    box-sizing: content-box;
}

html,
body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-color: #fefefe;
    color: #e66e36;
}

.top-bar {
    position: relative;
    height: 40px;
    padding: 15px 20px;
    background-color: #fefefe;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #ddd;
}
.container.-expanded > .sidebar {
    margin-left: 0;
}
.container.-expanded > .content {
    width: calc(100% - 250px);
}
.container.-collapsed > .sidebar {
    margin-left: -250px;
}
.container.-collapsed > .content {
    width: 100%;
}
.container > .sidebar,
.container > .content {
    float: left;
    -webkit-transition: all 0.24s cubic-bezier(1, 0.335, 0.89, 0.825);
    transition: all 0.24s cubic-bezier(1, 0.335, 0.89, 0.825);
}
.container > .sidebar {
    width: 250px;
    height: 100vh;
    background: #0094ff;
}
.container > .content {
    width: 100%;
    min-height: 100vh;
}
.container > .content .heading {
    margin: 0;
    line-height: 1;
    font-weight: 300;
}

.btn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    padding: 0 20px;
    color: #505057;
    background: #eee;
    border: 0;
    border-radius: 3px;
}
.btn:hover {
    background: #e1e1e1;
}
.btn.-top {
    margin-top: 8px;
}
.btn.-info {
    color: #fff;
    background: #e66e36;
}
.btn.-info:hover {
    background: #0085e6;
}

.clearfix:after {
    clear: both;
}
.clearfix .p-left {
    float: left;
}
.clearfix .p-right {
    float: right;
}

/*LIST DROP DOWNS*/
.sidebar1 {
    width: 240px;
    height: 100%;
    background: #293949;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.sidebar1 #leftside-navigation ul,
.sidebar1 #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}
.sidebar1 #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar1 #leftside-navigation ul li.active > a {
    color: #1abc9c;

}
.sidebar1 #leftside-navigation ul li.active ul {
    display: block;
}
.sidebar1 #leftside-navigation ul li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

}
.sidebar1 #leftside-navigation ul li a:hover {
    color: #1abc9c;
    border-left: 3px solid #e66e36;
}
.sidebar1 #leftside-navigation ul li a span {
    display: inline-block;
}
.sidebar1 #leftside-navigation ul li a i {
    width: 20px;
}
.sidebar1 #leftside-navigation ul li a i .fa-angle-left,
.sidebar1 #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}
.sidebar1 #leftside-navigation ul ul {
    display: none;
}
.sidebar1 #leftside-navigation ul ul li {
    background: #23313f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}
.sidebar1 #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}
/*search function*/
form, input {
    width: 50%;
}
input {
    outline: none;

}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    height: 20px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;

}


input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin:0 auto;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.lastDiv{
    margin-top: -32px;
}

.dot{
    margin-top: 12px;
}

.picParent{
    background: #757575;
    height: 70px;
    margin-top: -44px;
    padding-left: 0;
    width: 56px;
}
.profilePic{
    border-radius: 50%;
    margin-top: 12px;
    width: 48px;
    margin-left: 10px;
}
.clearfix.contentImages{
    box-sizing: inherit !important;
}
h1{
    width:100%;
}

.mapImg{
    float: left;
    margin-left: 56px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.16), 0 0px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.graphImg{
    float: right;
    margin-right: 56px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.16), 0 0px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
h3{
    margin-left: 56px;
    width: 84.5%;
    text-align: justify;
    font-size: 14px;
    background-color: #fefefe;
    margin-top: 32px;
    padding: 24px 24px 32px;
    margin-bottom: 40px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.16), 0 0px 1px 0 rgba(0, 0, 0, 0.12);
    color: #31383e;
    font-weight: 300;
    border-radius: 4px;
}